body{
    background-size: cover;
}
#back
{
    background-color: black;
    color: white;
    
}
#status
{
    border-color: black;
    font-weight: bolder;
    background-color: white;
}